@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

.answerOptions{
    display: flex; 
    flex-direction: row;
    font-family: "Oswald";
}


button {
    width: 100%;
    height: 200px;
    min-width:15em;
    max-height: 5em;
    margin: 1em;
    color: #344e34;
    background-color: #a3b18a;
    border-color: #344e34;
}