@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

.home-container {
    background-color: #dad7cd;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: calc(10px + 2vmin);
    color: #344e41; 
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.background{
  background-image: url('../Resources/scott-webb-oRWRlTgBrPo-unsplash.jpg');
  background-position: auto;
  background-repeat: no repeat;
  background-size:cover;
  background-attachment:scroll;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
    
  }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Oswald";
}

.left {
  width: 100%;
  height: 500px;
  background-color: #a3b18a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
  position: relative;
  left: 0;
  top: 0;
}
.right {
  width: 100%;
  height: 350px;
  padding:20px 90px;
  background-color: #588157;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  right: 70px;
}
.left h1 {
  font-size: 150px;
  font-weight: strong;
  color: white;
}

.left p {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-size: 20px;
  font-weight: 100;
  line-height: 15px;
  text-transform: uppercase;
}

.right p {
  margin: 40px 0;
  font-weight: lighter;
  line-height: 40px;
  text-transform: uppercase;
  color: #f5f0e2;
}

.right a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  color: #344e41;
  padding: 20px 30px;
  display: inline-block;
  letter-spacing: 2px;
  font-weight: 500;
}


@media only screen and (max-width: 720px) {
  .background {
    width: 50%;
    
  }

  .left p{
    font-size: 15px;
  }

  .left {
    width: 50%;
    height: 400px;
  }
  .right {
    width: 70%;
    height: 300px;
  }
}
