@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

.question {
    border: 1px solid #dad7cd;
    font-family: "Oswald";
    color: #344e34;

}

.quizCard{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 8px solid #a3b18a;
    background-color: #dad7cd;
    height: 200px;
    margin: 2em;
}

.answers {
    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    font-family: "Oswald";
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 720px) {
    .quizCard{
      width: 50%;
      height: 400px;
    }

    .answers{
        width:50%;
        flex-direction: column;
    }
  }